[Desktop Entry]
Encoding=UTF-8
Name=2XClient
Exec=/opt/2X/Client/bin/2XClient
Icon=/usr/share/pixmaps/2X.png
Type=Application
StartupNotify=true
Categories=Application;Network;
