[Desktop Entry]
Encoding=UTF-8
Name=2XSession
GenericName=2XClient Session
Exec=/opt/2X/Client/bin/appserverclient -i %f
Icon=/usr/share/pixmaps/2X.png
Type=Application
MimeType=application/x-2xa;
NoDisplay=true
Terminal=false
StartupNotify=true
Categories=Application;Network;
