[Desktop Entry]
Encoding=UTF-8
Name=appserverclient
Exec=/opt/2X/Client/bin/appserverclient --url-schema "%u"
Icon=/usr/share/pixmaps/2X.png
Type=Application
MimeType=x-scheme-handler/tuxclient;
Terminal=false
StartupNotify=true
NoDisplay=true
Categories=Application;Network;
