# ALSA generic drivers

if SND_DRIVERS

config SND_SERIALMIDI
	tristate "Generic driver for serial MIDI adapters"
	depends on BROKEN
	select SND_RAWMIDI
	help
	  If you want to use MIDI adapters connected to a standard
	  serial port, say Y here and read
	  <file:Documentation/sound/alsa/serialmidi.txt>.

	  For multi-port devices, this driver supports port selection
	  with the Roland SoundCanvas protocol and for Midiator
	  MS-124T/W devices; many other devices are SoundCanvas
	  compatible.

	  To compile this driver as a module, choose M here: the module
	  will be called snd-serialmidi.

config SND_LOOPBACK
	tristate "Generic loopback driver (PCM)"
	select SND_PCM
	help
	  Say 'Y' or 'M' to include support for the PCM loopback device.

endif	# SND_DRIVERS
