config DRM_CIRRUS_QEMU
	tristate "Cirrus driver for QEMU emulated device"
	depends on m
	depends on DRM && PCI
	depends on FB_SYS_FILLRECT
	depends on FB_SYS_COPYAREA
	depends on FB_SYS_IMAGEBLIT
	select DRM_KMS_HELPER
	select DRM_TTM
	help
	 This is a KMS driver for emulated cirrus device in qemu.
	 It is *NOT* intended for real cirrus devices. This requires
	 the modesetting userspace X.org driver.
