[D-BUS Service]
Name=org.freedesktop.DBus.TestSuiteForkingEchoService
Exec=/source/browser/dbus-dbus-1.6/test/test-service org.freedesktop.DBus.TestSuiteForkingEchoService fork
