[Desktop Entry]
Type=MBTheme
Name=MBOpus
Preview=XXX
Comment=Blondie theme 
ThemePath=@prefix@/themes/blondie

MenuBgColor=#e1e6da
MenuFgColor=#222222
MenuBdColor=#8f9489
MenuHlColor=#ccd2c6

PanelFgColor=#111111
#PanelBgColor=#e0e5d9
PanelBgPixmap=panelbg.png
DesktopBgSpec=col-solid:#aeb4b4

PanelMsgBgCol=#e1e6da 
PanelMsgBgUrgentCol=#e1e6da 
PanelMsgFgCol=#22222
DesktopHlCol=#656b7b