[D-BUS Service]
Name=org.freedesktop.DBus.TestSuiteShellEchoServiceFail
Exec=/source/browser/dbus-dbus-1.6/test/test-shell-service "this should 'fail' because of an unterminated quote
User=anyrandomuser

