Source: alsamixergui
Section: sound
Priority: optional
Maintainer: Robert Jordens <rjo@gmx.de>
Build-Depends: debhelper (>> 3.0.0), libfltk1-dev, libasound2-dev (>= 0.9.0), docbook-to-man
Standards-Version: 3.5.2

Package: alsamixergui
Architecture: any
Depends: ${shlibs:Depends}
Description: FLTK based frontend for alsamixer
 alsamixergui is a FLTK based frontend for alsamixer. It is written
 directly on top of the alsamixer source, leaving the original source
 intact, only adding a couple of ifdefs, and some calls to the gui
 part, so it provides exactly the same functionality, but with a
 graphical userinterface.
 .
 Further information can be found at
 http://www.iua.upf.es/~mdeboer/projects/alsamixergui/
