[Desktop Entry]
Encoding=UTF-8
Name=Boot messages
Comment=Boot messages
Exec=plymouth-log-viewer --icon
Terminal=false
Type=Application
Categories=
OnlyShowIn=GNOME;XFCE;
