[D-BUS Service]
Name=org.freedesktop.DBus.TestSuiteShellEchoServiceSuccess
Exec=/source/dbus-1.9.2/test/test-shell-service -test "that" 'we get' back --what "we put in"
User=anyrandomuser

