config DRM_QXL
	depends on !BACKPORT_KERNEL_3_3
	tristate "QXL virtual GPU"
	depends on m
	depends on DRM && PCI
	depends on FB_SYS_FILLRECT
	depends on FB_SYS_COPYAREA
	depends on FB_SYS_IMAGEBLIT
	depends on FB_DEFERRED_IO
        select DRM_KMS_HELPER
        select DRM_TTM
	help
		QXL virtual GPU for Spice virtualization desktop integration. Do not enable this driver unless your distro ships a corresponding X.org QXL driver that can handle kernel modesetting.
