# System-wide config file for aewm clients

cmd "XTerm" "xterm"
cmd "Mozilla" "mozilla"
cmd "Mutt" "xterm -e mutt -y"

menu "Submenu"
    cmd "Links" "rxvt -e links"
    cmd "X-Chat" "xchat"
    cmd "Gaim" "gaim"
end

cmd "Logout" "skill aesession"
