[Desktop Entry]
Type=MBTheme
Name=Human
Preview=XXX
Comment=Blondie theme 
ThemePath=@prefix@/themes/blondie

MenuBgColor=#dadad5
MenuFgColor=#000000
MenuBdColor=#acaaa5
MenuHlColor=#486880

PanelFgColor=#22264a
PanelBgColor=#dadad5
DesktopBgSpec=col-solid:#9ab0c2
DesktopHlCol=#486880

PanelMsgBgCol=#e8e0b0 
PanelMsgBgUrgentCol=#f8f0c0  
PanelMsgFgCol=#000000
