BODY { 
      font-family:Arial; 
      background-color:#ffffff;  }
H1 { 
    font-weight:bold; 
    font-family:Verdana, sans-serif; 
    color:#b5b5b5; 
    font-size:14pt;  }
LI.kadov-H1 { 
             font-weight:bold; 
             font-family:Verdana, sans-serif; 
             color:#b5b5b5; 
             font-size:14pt;  }
H2 { 
    font-weight:bold; 
    font-size:10pt; 
    font-family:Verdana, sans-serif; 
    margin-bottom:5pt; 
    color:#bd1215;  }
LI.kadov-H2 { 
             font-weight:bold; 
             font-size:10pt; 
             font-family:Verdana, sans-serif; 
             color:#bd1215;  }
P { 
   margin-top:4.5pt; 
   margin-bottom:4.5pt; 
   font-size:8pt; 
   font-family:Verdana, sans-serif;  }
LI.kadov-P { 
            font-size:8pt; 
            font-family:Verdana, sans-serif;  }
A.expandspot { 
              color:#008000; 
              cursor:hand; 
              font-style:italic; 
              x-text-underline:off; 
              x-text-overline:off; 
              x-text-line-through:off; 
              text-decoration:none none none;  }
SPAN.expandtext { 
                 font-style:italic; 
                 font-weight:normal; 
                 color:#ff0000;  }
A.dropspot { 
            cursor:hand; 
            color:#008000; 
            font-style:italic; 
            x-text-underline:off; 
            x-text-overline:off; 
            x-text-line-through:off; 
            text-decoration:none none none;  }
A.glossterm { 
             color:#800000; 
             cursor:hand; 
             font-style:italic; 
             x-text-underline:off; 
             x-text-overline:off; 
             x-text-line-through:off; 
             text-decoration:none none none;  }
SPAN.glosstext { 
                font-style:italic; 
                font-weight:normal; 
                color:#0000ff;  }
OL { 
    margin-top:0px; 
    margin-bottom:0px;  }
UL { 
    margin-top:0px; 
    margin-bottom:0px;  }
P.header { 
          font-style:italic; 
          font-weight:normal; 
          font-family:Verdana, sans-serif; 
          color:#c0c0c0; 
          text-align:Right; 
          background-image:url(header.gif); 
          background-repeat:No-Repeat; 
          background-position:Left Top; 
          font-size:24pt;  }
LI.kadov-P-Cheader { 
                    font-style:italic; 
                    font-weight:normal; 
                    font-family:Verdana, sans-serif; 
                    color:#c0c0c0; 
                    text-align:Right; 
                    font-size:24pt;  }
P.bullet { 
          list-style:square;  }
LI.kadov-P-Cbullet { 
                    list-style:square;  }
P.footer { 
          font-style:italic; 
          font-weight:normal; 
          color:#c0c0c0;  }
LI.kadov-P-Cfooter { 
                    font-style:italic; 
                    font-weight:normal; 
                    color:#c0c0c0;  }
P.list-number { 
               list-style:decimal;  }
LI.kadov-P-Clist-number { 
                         list-style:decimal;  }
P.Normalindent { 
                margin-left:30pt;  }
LI.kadov-P-CNormalindent {  }
P.Caption { 
           font-weight:bold; 
           font-style:normal;  }
LI.kadov-P-CCaption { 
                     font-weight:bold; 
                     font-style:normal;  }
P.Code1 { 
         font-family:"Courier New" , monospace; 
         margin-top:0pt; 
         margin-bottom:0pt;  }
LI.kadov-P-CCode1 { 
                   font-family:"Courier New" , monospace;  }
P.Code2 { 
         font-family:"Courier New" , monospace; 
         margin-left:18pt; 
         margin-top:0pt; 
         margin-bottom:0pt;  }
LI.kadov-P-CCode2 { 
                   font-family:"Courier New" , monospace;  }
P.Code3 { 
         font-family:"Courier New" , monospace; 
         margin-left:36pt; 
         margin-top:0pt; 
         margin-bottom:0pt;  }
LI.kadov-P-CCode3 { 
                   font-family:"Courier New" , monospace;  }
P.Code4 { 
         font-family:"Courier New" , monospace; 
         margin-left:54pt; 
         margin-top:0pt; 
         margin-bottom:0pt;  }
LI.kadov-P-CCode4 { 
                   font-family:"Courier New" , monospace;  }
P.Code5 { 
         font-family:"Courier New" , monospace; 
         margin-left:72pt; 
         margin-top:0pt; 
         margin-bottom:0pt;  }
LI.kadov-P-CCode5 { 
                   font-family:"Courier New" , monospace;  }
SPAN.Bold { 
           font-weight:bold; 
           font-style:normal;  }
P.Note { 
        border-top-width:4px; 
        border-bottom-width:4px; 
        border-top-style:none; 
        border-bottom-style:none; 
        background-color:#c0c0c0;  }
LI.kadov-P-CNote {  }
P.Relatedtopic { 
                margin-top:13.5pt; 
                font-weight:bold; 
                font-style:normal; 
                x-next-type:P; 
                color:#bd1215;  }
LI.kadov-P-CRelatedtopic { 
                          font-weight:bold; 
                          font-style:normal; 
                          color:#bd1215;  }
P.Reference { 
             font-weight:bold; 
             font-style:normal; 
             margin-top:13.5pt; 
             x-next-type:P;  }
LI.kadov-P-CReference { 
                       font-weight:bold; 
                       font-style:normal;  }
A:visited { 
           color:#800080;  }
A:active { 
          color:#0000ff;  }
