Source: libgssapi
Section: libs
Priority: optional
Maintainer: J. Bruce Fields <bfields@fieldses.org>
Build-Depends: debhelper (>=5.0.0), libkrb5-dev, cdbs
Standards-Version: 3.6.2

Package: libgssapi-dev
Section: libdevel
Architecture: any
Depends: libgssapi2 (= ${Source-Version})
Description: header files and docs for libgssapi
 Contains the header files and documentation for libgssapi
 for use in developing applications that use the libgssapi library.
 .
 libgssapi provides a gssapi interface, but does not implement any
 gssapi mechanisms itself; instead it calls other gssapi functions
 (e.g., those provided by MIT Kerberos), depending on the requested
 mechanism, to do the work.
 .
  Homepage: http://www.citi.umich.edu/projects/nfsv4/linux/

Package: libgssapi2
Section: libs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: A mechanism-switch gssapi library
 libgssapi provides a gssapi interface, but does not implement any
 gssapi mechanisms itself; instead it calls other gssapi functions
 (e.g., those provided by MIT Kerberos), depending on the requested
 mechanism, to do the work.
 .
  Homepage: http://www.citi.umich.edu/projects/nfsv4/linux/

