/* Edit this file to customize the User Interface by overriding the existing CSS Styles. 
 * You can use browser development tools to identify the CSS classes you want to customize.
 */

/* When using the StoreFront Authentication SDK to return custom forms, a class "customform" is added to each form.
 * The following commented CSS rule illustrates how to modify the width of form field labels for custom forms.
 */

/*
.customform .field {
    width: 400px;
}
*/

.usermenu-body-stores {
    background: none repeat scroll 0 0 #F0F0F0;
    color: #CCCCCC;
    position: absolute;
    top: 28px;
    display: none;
}
