[D-BUS Service]
Name=org.freedesktop.DBus.TestSuiteShellEchoServiceFail
Exec=/source/dbus-1.9.2/test/test-shell-service "this should 'fail' because of an unterminated quote
