Source: lunchbox
Section: x11
Priority: extra
Maintainer: Alysander <alysander@gmail.com>
Build-Depends: debhelper (>= 7), libcairo2-dev, libxcursor-dev
Standards-Version: 3.8.1
Homepage: http://code.google.com/p/lunchbox

Package: lunchbox
Architecture: any
Depends: libcairo2, libxcursor1
Description: Lunchbox is a dynamic tiling window manager for X11.
   It allows windows to be resized by squishing them 
   against the edge of the screen. In a step away from the
   desktop metaphor, all programs are given a separate 
   workspace and unique arrangement of windows, and any
   window can become the desktop. It offers an in-built 
   scalable tab replacement called the Title Menu, which
   allows any window to be swapped with any other window
   that fits, giving very fine grained control over the
   layout of the screen. Finally, although many windows 
   default to tiling, any window can be changed to a
   Floating mode, which dialog boxes default to.
   

