[Unit]
Description=PC/SC Smart Card Daemon
Requires=pcscd.socket

[Service]
ExecStart=/7/sbin/pcscd --foreground --auto-exit
ExecReload=/7/sbin/pcscd --hotplug

[Install]
Also=pcscd.socket
