KERNEL!="sd[a-z][0-9]", GOTO="media_by_label_auto_mount_end"

# Get label if present, otherwise assign one
IMPORT{program}="/bin/blkid -o udev %N"
ENV{dir_name}="%k"

# Global mount options
ENV{mount_options}="flush,relatime,utf8,gid=100,umask=002"

# Mount the device
ACTION=="add|change", ENV{ID_FS_LABEL}=="PONIXSYS", ENV{ID_FS_TYPE}=="vfat|fat", RUN+="/bin/mkdir -p /mnt/ponixsys", RUN+="/bin/mount -o $env{mount_options} /dev/%k /mnt/ponixsys", OPTIONS="last_rule"

ACTION=="add|change", ENV{ID_FS_LABEL}!="PONIXSYS", ENV{ID_FS_TYPE}=="vfat|fat", RUN+="/bin/mkdir -p /mnt/usbdevice/%E{dir_name}", RUN+="/bin/mount -o $env{mount_options} /dev/%k /mnt/usbdevice/%E{dir_name}", OPTIONS="last_rule"

ACTION=="add|change", ENV{ID_FS_LABEL}!="PONIXSYS", ENV{ID_FS_TYPE}=="ntfs", RUN+="/bin/mkdir -p /mnt/usbdevice/%E{dir_name}", RUN+="/bin/ntfs-3g -o nls=utf8,streams_interface=windows /dev/%k /mnt/usbdevice/%E{dir_name}", OPTIONS="last_rule"

# Clean up after removal
ACTION=="remove", ENV{dir_name}!="", RUN+="/bin/umount -l /mnt/usbdevice/%E{dir_name}", RUN+="/bin/rmdir /mnt/usbdevice/%E{dir_name}", OPTIONS="last_rule"

# Exit
LABEL="media_by_label_auto_mount_end"