[Desktop Entry]
#
# The theme.desktop file for a matchbox theme is a basic way to 
# set the look of things other than the window manager when the 
# theme is changed. 
#
# Currently it controls the dock and mbmenu's look .

# 'Standard' .desktop entries. 
#
Type=MBTheme
Name=Blondie
Comment=Blondie theme 

#
# Dock/Panel settings
#

# you can set the docks background color, or to a tiled pixmap / transparent
DockBgColor=#e2dec6
#DockBgTrans= 0-255, 0 being totally transparent
#DockBgPixmap=/path/to/a xpm or png

# The foreground color is used by things like minitime 
PanelFgColor=black


# Panel bubble message propertys
PanelMsgBgCol=#e2dec6
PanelMsgBgUrgentCol=#ffdec6
PanelMsgFgCol=#000000


#
# Menu settings, used by both the dock popup menu and mbmenu.
#

MenuBgColor=#e2dec6
MenuFgColor=black

# menu Border color
MenuBdColor=#9d9a8a

# selected entry color. 
# MenuHlColor=black XXX DEPRECIATED in 0.7 , border col used instead 

# Menu transparency set like the panel
# MenuTransparency=0-255

# Set to a '|' seperated list of font names. 
# if set will overide Gtk font from xsettings
#MenuFont=xxx|xxx|xxx

# Value same as mbdesktop --bg option
DesktopBgSpec=col-solid:#8395ac
DesktopHlCol=#9d9a8a

