#
# Atheros device configuration
#

config NET_VENDOR_ATHEROS
	bool "Atheros devices"
	default y
	depends on PCI
	---help---
	  If you have a network (Ethernet) card belonging to this class, say Y
	  and read the Ethernet-HOWTO, available from
	  <http://www.tldp.org/docs.html#howto>.

	  Note that the answer to this question doesn't directly affect the
	  kernel: saying N will just cause the configurator to skip all
	  the questions about Atheros devices. If you say Y, you will be asked
	  for your specific card in the following questions.

if NET_VENDOR_ATHEROS

config ATL2
	tristate "Atheros L2 Fast Ethernet support"
	depends on PCI
	select CRC32
	select NET_CORE
	select MII
	---help---
	  This driver supports the Atheros L2 fast ethernet adapter.

	  To compile this driver as a module, choose M here.  The module
	  will be called atl2.

config ATL1
	tristate "Atheros/Attansic L1 Gigabit Ethernet support"
	depends on PCI
	select CRC32
	select NET_CORE
	select MII
	---help---
	  This driver supports the Atheros/Attansic L1 gigabit ethernet
	  adapter.

	  To compile this driver as a module, choose M here.  The module
	  will be called atl1.

config ATL1E
	tristate "Atheros L1E Gigabit Ethernet support (EXPERIMENTAL)"
	depends on PCI && EXPERIMENTAL
	select CRC32
	select NET_CORE
	select MII
	---help---
	  This driver supports the Atheros L1E gigabit ethernet adapter.

	  To compile this driver as a module, choose M here.  The module
	  will be called atl1e.

config ATL1C
	tristate "Atheros L1C Gigabit Ethernet support (DEPRECATED)"
	depends on PCI && EXPERIMENTAL
	select CRC32
	select NET_CORE
	select MII
	---help---
	  This driver supports the Atheros L1C gigabit ethernet adapter.
	  This driver is deprecated in favor for the alx (CONFIG_ALX) driver.
	  This driver supports the following chipsets:

	  1969:1063 - AR8131 Gigabit Ethernet
	  1969:1062 - AR8132 Fast Ethernet (10/100 Mbit/s)
	  1969:2062 - AR8152 v2.0 Fast Ethernet
	  1969:2060 - AR8152 v1.1 Fast Ethernet
	  1969:1073 - AR8151 v1.0 Gigabit Ethernet
	  1969:1083 - AR8151 v2.0 Gigabit Ethernet

	  To compile this driver as a module, choose M here.  The module
	  will be called atl1c.

config ALX
	tristate "Atheros ALX Gigabit Ethernet support"
	depends on PCI
	select CRC32
	select NET_CORE
	select MII
	---help---
	  This driver supports the Atheros L1C/L1D/L1F gigabit ethernet
	  adapter. The alx driver is intended to replace completely the
	  atl1c driver with proper support and commitment from Qualcomm
	  Atheros (QCA). Both atl1c and alx supports the following chipsets:

	  1969:1063 - AR8131 Gigabit Ethernet
	  1969:1062 - AR8132 Fast Ethernet (10/100 Mbit/s)
	  1969:2062 - AR8152 v2.0 Fast Ethernet
	  1969:2060 - AR8152 v1.1 Fast Ethernet
	  1969:1073 - AR8151 v1.0 Gigabit Ethernet
	  1969:1083 - AR8151 v2.0 Gigabit Ethernet

	  Only alx supports the following chipsets:

	  1969:1091 - AR8161
	  1969:1090 - AR8162

	  For more information see:

	  https://www.linuxfoundation.org/collaborate/workgroups/networking/alx

	  To compile this driver as a module, choose M here.  The module
	  will be called alx.

endif # NET_VENDOR_ATHEROS
